
.navbar-default {
	background-color: #99badd;
	text-align: center;
	font-family: 'Unica One', cursive;
	
}
.navbar-default .navbar-nav > li > a {
    color: white;
	font-size: 14px;
	
}
.navbar-default .navbar-nav > li > a:hover {
	background-color:  #f0ad4e;
	height: 100%;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-flush {
      padding-top: 70px;
  }
  
 .container-fluid {
	 font-family: 'Montserrat', sans-serif;
 }
.glyphicon-home {
	font-size: auto;
	color: white;
	text-align: center;
	line-height: auto;
}

.well {
	background-color: white;
}
.btn {
	background-color: #99badd;
	font-family: 'Montserrat', sans-serif;
}


.btn-xs:hover {
	background-color:  #f0ad4e;
}

 .popover {
     font-family: 'Montserrat', sans-serif;
  }
  /* Popover Header */
  .popover-title {
      background-color:  #f0ad4e; 
      color: white; 
      text-align:left;
  }
  /* Popover Body */
  .popover-content {
      background-color: #99badd;
      color: white;
	  text-align: left;
  }
  /* Popover Arrow */
  .arrow {
	  background-color: #99badd;
      border-color: #99badd;
  }

.footer {
	display: block;
	background-color: #97a7a7;
	position: fixed;
	min-height: 100%;
}


