
.navbar-default {
	background-color: #99badd;
	text-align: center;
	
}
.navbar-default .navbar-nav > li > a {
    color: white;
	font-size: 15px;
	font-weight: lighter;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #f58322;
	height: 100%;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-flush {
      padding-top: 70px;
  }
.glyphicon-home {
	font-size: auto;
	color: white;
	text-align: center;
	line-height: auto;
}

.well {
	background-color: white;
}
.btn {
	background-color: #99badd;
}
.btn-sm {
	background-color: #99badd;
	outline-color: #99badd;
}

.btn-sm:hover {
	background-color: #f58322;
}

 .popover {
     
  }
  /* Popover Header */
  .popover-title {
      background-color: #f58322; 
      color: white; 
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background-color: #99badd;
      color: white;
  }
  /* Popover Arrow */
  .arrow {
	  background-color: #99badd;
      border-color: #99badd;
  }





