<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName>TestingApp</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>TestingApp</Mapping-Name><Location>/Users/MatthewWepee/ColdFusion2018/cfusion/wwwroot/TestingApp</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion2018</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>